// out: index.css, compress: true

.pad
  padding 10px !important

.pad-margin
  margin 10px !important

.nopad
  padding 0
  margin 0

.default-font
  font-family Roboto, Helvetica, Arial, sans-serif !important

.inner
  display block
  margin 0 auto
  @media (min-width 1250px)
    width 1250px
  @media (max-width 1250px) and (min-width 1000px)
    width 1000px
  @media (max-width 1000px) and (min-width 750px)
    width 750px
  @media (max-width 750px)
    @extend .pad-margin
    width auto
